/* 
    Created on : 3 ago. 2021, 6:55:44 p. m.
    Author     : neury-dev
*/
main { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    width: 1000px;
    height: 500px;
}
.detener { cursor: not-allowed; }
.continuar { cursor: wait; }
main > div.diapositiva { display: none; }
main > div > img {
    width: 100%;
    height: 500px;
    vertical-align: middle;
    border: 1px solid var(--n-color-2);
    border-radius: var(--n-radio-1);
    object-fit: cover;
}
main > button.anterior,
main > button.siguiente {
    position: absolute;
    top: 13.25em;
    color: var(--n-color-1);
    background: transparent;
    font-size: 2.50em;
    border: none;
    border-radius: 0em 0.1875em 0.1875em 0em;
    transition: var(--n-transicion);
    text-shadow: var(--n-sombra-de-texto-2);
}
main > button.anterior { right: 8.40em; }
main > button.siguiente { right: 2.10em; }
main > button.anterior:hover, 
main > button.siguiente:hover {
    transform: scale(1.60,2);
}
main > section.puntos-contenedor {
    position: absolute;
    top: 33.70em;
    right: 7em;
}
main > section.puntos-contenedor > button.punto {
    color: transparent;
    background-color: var(--n-color-2-5);
    font-family: var(--n-fuente-tres);
    font-size: 0.70em;
    border: none;
    border-radius: 7em;
    padding: 0.80em 0.60em 0.80em 0.60em;
    transition: var(--n-transicion);
}
main > section.puntos-contenedor > button.punto > span.actual { transition: all 2s ease-in-out; }
.activo, 
main > section.puntos-contenedor > button.punto:hover {
    color: var(--n-color-2);
}
main > div.desvanecerse {
    -webkit-animation-name: desvanecerse;
    -webkit-animation-duration: 1.5s;
    animation-name: desvanecerse;
    animation-duration: 1.5s;
}
@-webkit-keyframes desvanecerse {
    from {
        opacity: .4
    } to {
        opacity: 1
    }
}
@keyframes desvanecerse {
    from {
        opacity: .4
    } to {
        opacity: 1
    }
}
@media screen and (max-width: 69.99em) {
    main { padding: 0em 0.50em 0.50em 0.50em; }
    main > div > img { height: 30em; }
    main > button.anterior, 
    main > button.siguiente { 
        top: 15.46em;
        font-size: 1.90em;
    }
    main > button.anterior { right: 7.70em; }
    main > button.siguiente { right: 0.90em; }
    main > section.puntos-contenedor { top: 29.70em; right: 4em; }
    main > section.puntos-contenedor > button.punto { font-size: 0.50em; }
}
