/* 
    Created on : Jan 24, 2022, 5:23:33 PM
    Author     : neury-dev
*/
/* Maquetado
--------------------------------------------------------------------------------*/
.n-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% auto;
    grid-gap: 0.625em;
    /*margin: 0em 3em 3em 3em;*/
}
/*.n-grid > section { background: red; }*/
.n-grid > .area_1 { grid-area: 1 / span 4 / 2 / 5; }
.n-grid > .area_2 { grid-area: 2 / span 1 / 3 / 2; }
.n-grid > .area_3 { grid-area: 2 / span 3 / 3 / 5; }

/*.n-grid > .area_1 > h2 { text-align: center; }*/
.n-grid > .area_1 > #n-respuesta { color: var(--n-color-verde); text-align: center; }
.n-grid > .area_1 > #n-respuesta > span { color: var(--n-color-rojo); }

/* Formulario
--------------------------------------------------------------------------------*/
.n-grid > .area_2 > h2,
.n-grid > .area_3 > h2,
.n-grid > .area_3 > #res { 
    /*font-size: 2em;*/
    text-align: center; 
}
.n-grid > .area_2 { 
    margin-top: 100px;
    padding: 0px 0px  0px 32px;
}
.n-grid > .area_2 > form > label, 
.n-grid > .area_2 > form > input { 
    width: 100%; 
}
.n-grid > .area_2 > form > input, 
.n-grid > .area_3 > form > input { 
    margin-bottom: 0.50em; 
    border: none;
    border-radius: var(--n-radio-1);
    padding: var(--n-relleno);
}
.n-grid > .area_2 > form > input:focus, 
.n-grid > .area_3 > form > input:focus {
    color: var(--n-color-1);
    background-color: var(--n-color-2-8);
    outline: none;
}
.n-grid > .area_2 > form > input[type='submit'] {
    color: var(--n-color-1);
    background-color: var(--n-color-2);
    font-weight: bold;
    width: 100%;
    border: none;
    border-radius: var(--n-radio-1);
    padding: var(--n-relleno);
    cursor: pointer;
}
.n-grid > .area_2 > form > input[type=submit]:hover {
    color: var(--n-color-2);
    background-color: var(--n-color-2-8);
    text-shadow: var(--n-sombra-de-texto);
}
.n-grid > .area_3 {
    /*display: flex;*/
    /*justify-content: space-around;*/
    /*margin: -2em 0em 0em 0em;*/
    /*padding: 0;*/
    
    margin-top: 100px;
    padding: 0px 32px;
}
.n-grid > .area_3 > #res {
    color: var(--n-color-verde);
    font-weight: bold;
}

/* Tabla
--------------------------------------------------------------------------------*/
table {
    table-layout: fixed;
    width: 100%;
    border: 0.0625em solid #f2f2f2;
    border-collapse: collapse;
}
/*caption { text-align: center; font-weight: bold; }*/
table > thead > tr > :nth-child(1){
    width: 50px;
}
table > thead > tr > th {
    color: var(--n-color-1);
    background-color: var(--n-color-2);
    height: 2.50em;
    border: 0.0625em solid var(--n-color-2);
    vertical-align: middle;
}
table > thead > tr > th, 
table > tbody > tr > td { padding: var(--n-relleno); }
table > tbody > tr:nth-child(even) { background-color: #f2f2f2; }
table > tbody > tr:hover { color: var(--n-color-1); background-color: var(--n-color-2-8); }
table > tbody > tr:hover a { color: var(--n-color-1); }
table tr > td {
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100px;
    height: 32px;
}
table > tbody > tr > td:nth-child(2),
table > tbody > tr > td:nth-child(3) {
    text-align: left; 
} 
table > tbody > tr > td > a { color: var(--n-color-2); }
table > tbody > tr > td > a:hover { color: var(--n-color-1); }
table > tbody > tr > td > button {
    background-color: var(--n-color-1);
    font-weight: bold;
    width: 100%;
    border: none;
    border: 0.10em solid var(--n-color-1);
    border-radius: var(--n-radio-1);
    padding: var(--n-relleno);
}
table > tbody > tr > td > button:hover {
    color: var(--n-color-2);
    background-color: var(--n-color-2-8);
    text-shadow: var(--n-sombra-de-texto);
}
tfoot > tr > td {
    background-color: var(--n-color-2);
    height: 2em;
    margin: 0;
    padding: 0;
}
tfoot> tr > td { height: 3em; border-top: 0.10em solid var(--n-color-1); }
tfoot> tr > td > form {
    display: inline-block;
    vertical-align: middle;
    padding: 0.50em 0em 0.50em 0em;
}
tfoot> tr > td > form  > label { color: var(--n-color-1); }
tfoot> tr > td > form  > select {
    color: var(--n-color-1);
    background-color: var(--n-color-2);
    border: 0.10em solid var(--n-color-1) !important;
    border-radius: var(--n-radio-1);
    padding: var(--n-relleno);
}
tfoot> tr > td > button {
    display: inline-block;
    background-color: var(--n-color-1);
    font-weight: bold;
    margin: 0.30em 0em 0.30em 0em;
    border: none;
    border: 0.10em solid var(--n-color-2);
    border-radius: var(--n-radio-1);
    padding: var(--n-relleno);
}
tfoot> tr > td > button:hover {
    color: var(--n-color-1);
    background-color: var(--n-color-2-8);
    border: 0.10em solid var(--n-color-1);
}


