/* 
    Created on : 13 feb. 2022, 10:28:01 p. m.
    Author     : neury-dev
*/
.paypal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    width: 250px;
}
