/* 
    Created on : 6 feb. 2022, 12:32:30 a. m.
    Author     : neury-dev
*/
.perfil {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
div#perfil {
    width: 100px;
    height: 100px;
    /*background-image: url('https://www.w3schools.com/howto/img_girl.jpg');*/
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px;
    border: 1px solid var(--n-color-2);
    border-radius: var(--n-radio-2);
}
.img {
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 1px solid var(--n-color-2);
    border-radius: var(--n-radio-2);
}