/* 
    Created on : 27 jul. 2021, 7:38:32 p. m.
    Author     : neury-dev
*/
/* Desarrollos
--------------------------------------------------------------------------------*/
.n-grid > .area-4 > section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    padding: 1.50em 3em 1.50em 3em;
}
.n-grid > .area-4 > section > article {
    width: 150px;
    border-radius: 1em;
    margin: 0.50em;
    padding: 1.50em 0em 1.50em 1.50em;
    box-shadow: var(--n-sombra-1-3);
}
.n-grid > .area-4 > section > article > * { margin: 0; }
.n-grid > .area-4 > section > article > div { position: relative; }
.n-grid > .area-4 > section > article > div > h4 {
    position: relative;
    color: var(--n-color-1);
    font-size: 0.90em;
    margin: 0;
    white-space: nowrap;
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
}
.n-grid > .area-4 > section > article > div > .cubrir {
    position: absolute;
    bottom: 2.10em;
    overflow: hidden;
    height: 0;
}
.n-grid > .area-4 > section > article > div > .cubrir > p {
    white-space: nowrap;
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.n-grid > .area-4 > section > article > div > .cubrir > p > .con {
    color: var(--n-color-1);
    font-size: 0.90em;
    font-weight: bold;
}
.n-grid > .area-4 > section > article > div:hover 
.cubrir {
    animation: cubrir-desarrollo 1s ease-in-out forwards;
    animation-delay: 1s;
}
@keyframes cubrir-desarrollo {
    from { 
        overflow: visible; opacity: 0; 
    } to { 
        overflow: visible; opacity: 1;
    }
}
.n-grid > .area-4 > section > article > div:hover
.enlace { 
    animation: enlace-desarrollo 1s forwards; 
}
@keyframes enlace-desarrollo {
    from { 
        opacity: 1;  
    } to { 
        opacity: 0;
    }
}
.n-grid > .area-4 > section > article > p { font-size: 0.60em; }
