/* 
    Created on : 11 may. 2021, 9:51:51 p. m.
    Author     : neury-dev
*/
*, *:before, 
*:after { 
    box-sizing: border-box; 
}
html {
    scroll-behavior: smooth;
}
body { 
    color: #1c1d22 !important;
    font-size: 100% !important;
    font: 0.80em "Verdana", Helvetica, Tahoma, sans-serif !important;
    line-height: 1em;
    margin: 0 !important;
}
a { text-decoration: none; outline: none; }
a, 
button, 
select,
input[type='submit'] { 
    cursor: pointer;
}
label { font-weight: bold; }
button,
input,
textArea, 
select { 
    border: none;
    outline: none; 
}
input:disabled { cursor: not-allowed; }
.titulo { transform: scaleY(1.7); letter-spacing: -0.08em; }
.display { display: block; }
 /*
    https://www.w3schools.com/cssref/tryit.asp?filename=trycss_func_cubic-bezier
    transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
 */
:root {
    --n-fuente-1: "Georgia", Garamond, serif;
    --n-fuente-2: "Verdana", Helvetica, Tahoma, sans-serif;
    --n-fuente-3: "Lucida Console", Courier, monospace; /*"Lucida Grande", Helvetica, Arial, sans-serif;*/
    
    --n-color-0:    transparent;
    --n-color-1:    #ffffff;
    --n-color-1-1:  rgba(255, 255, 255, 0.1);
    --n-color-1-2:  rgba(255, 255, 255, 0.2);
    --n-color-1-3:  rgba(255, 255, 255, 0.3);
    --n-color-1-4:  rgba(255, 255, 255, 0.4);
    --n-color-1-5:  rgba(255, 255, 255, 0.5);
    --n-color-1-6:  rgba(255, 255, 255, 0.6);
    --n-color-1-7:  rgba(255, 255, 255, 0.7);
    --n-color-1-8:  rgba(255, 255, 255, 0.8);
    --n-color-1-9:  rgba(255, 255, 255, 0.9);
    --n-color-2:    #1c1d22;
    --n-color-2-1:  rgba(28, 29, 34, 0.1);
    --n-color-2-2:  rgba(28, 29, 34, 0.2);
    --n-color-2-3:  rgba(28, 29, 34, 0.3);
    --n-color-2-4:  rgba(28, 29, 34, 0.4);
    --n-color-2-5:  rgba(28, 29, 34, 0.5);
    --n-color-2-6:  rgba(28, 29, 34, 0.6);
    --n-color-2-7:  rgba(28, 29, 34, 0.7);
    --n-color-2-8:  rgba(28, 29, 34, 0.8);
    --n-color-2-9:  rgba(28, 29, 34, 0.9);
    --n-color-3:    #457725;
    --n-color-3-1:  rgba(69, 119, 37, 0.1);
    --n-color-3-2:  rgba(69, 119, 37, 0.2);
    --n-color-3-3:  rgba(69, 119, 37, 0.3);
    --n-color-3-4:  rgba(69, 119, 37, 0.4);
    --n-color-3-5:  rgba(69, 119, 37, 0.5);
    --n-color-3-6:  rgba(69, 119, 37, 0.6);
    --n-color-3-7:  rgba(69, 119, 37, 0.7);
    --n-color-3-8:  rgba(69, 119, 37, 0.8);
    --n-color-3-9:  rgba(69, 119, 37, 0.9);
    --n-color-4:    #901E1D;
    --n-color-4-1:  rgba(144, 30, 29, 0.1);
    --n-color-4-2:  rgba(144, 30, 29, 0.2);
    --n-color-4-3:  rgba(144, 30, 29, 0.3);
    --n-color-4-4:  rgba(144, 30, 29, 0.4);
    --n-color-4-5:  rgba(144, 30, 29, 0.5);
    --n-color-4-6:  rgba(144, 30, 29, 0.6);
    --n-color-4-7:  rgba(144, 30, 29, 0.7);
    --n-color-4-8:  rgba(144, 30, 29, 0.8);
    --n-color-4-9:  rgba(144, 30, 29, 0.9);
    
    --n-radio-1:   8px;
    --n-radio-2:   50%;
    --n-relleno: 8px;
    
    --n-sombra-de-texto-1:  -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
    --n-sombra-de-texto-2:  -1px 0 #1c1d22, 0 1px #1c1d22, 1px 0 #1c1d22, 0 -1px #1c1d22;
    --n-sombra-de-texto-3:  -1px 0 #457725, 0 1px #457725, 1px 0 #457725, 0 -1px #457725;
    --n-sombra-de-texto-4:  -1px 0 #901E1D, 0 1px #901E1D, 1px 0 #901E1D, 0 -1px #901E1D;
    
    --n-sombra-1-1: 1px 1px 1px #ffffff;
    --n-sombra-1-2: 2px 2px 2px #ffffff;
    --n-sombra-1-3: 3px 3px 3px #ffffff;
    --n-sombra-1-4: 4px 4px 4px #ffffff;
    --n-sombra-2-1: 1px 1px 1px #1c1d22;
    --n-sombra-2-2: 2px 2px 2px #1c1d22;
    --n-sombra-2-3: 3px 3px 3px #1c1d22;
    --n-sombra-2-4: 4px 4px 4px #1c1d22;
    --n-sombra-3-1: 1px 1px 1px #457725;
    --n-sombra-3-2: 2px 2px 2px #457725;
    --n-sombra-3-3: 3px 3px 3px #457725;
    --n-sombra-3-4: 4px 4px 4px #457725;
    --n-sombra-4-1: 1px 1px 1px #901E1D;
    --n-sombra-4-2: 2px 2px 2px #901E1D;
    --n-sombra-4-3: 3px 3px 3px #901E1D;
    --n-sombra-4-4: 4px 4px 4px #901E1D;
}

