/* 
    Created on : 14 oct. 2021, 7:09:40 p. m.
    Author     : neury-dev
*/
body {
    padding: 0;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--n-color-dos);
    width: 100%;
    height: 8vh;
}
h1 { color: var(--n-color); }
.main {
    display: flex;
    height: 92vh;
    overflow: hidden;
}
.izquierda {
    display: flex;
    flex: 0.5;
    flex-direction: column;
}
#charla {
    display: flex;
    flex-direction: column;
    
    margin: 1.5rem;
}
.usuarios {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    
    background-color: var(--n-color-tres);
    padding: 1rem;
}
#usuarios{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
video {
    width: 300px;
    height: 200px;
    margin: 0.5rem;
    border-radius: 1rem;
    object-fit: cover;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}
.menu {
    display: flex;
    background-color: var(--n-color-dos);
    padding: 9px;
}
.menu_izquierdo { display: flex; }
.menu_derecho { margin-left: auto; }
.boton {
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: var(--n-color-dos);
    background-color: var(--n-color);
    font-size: 1.2rem;
    width: 50px;
    height: 50px;
    margin: 0 0.5rem;
    border: 1px solid var(--n-color-dos);
    border-radius: 5px;
}
.pausa { background-color: var(--n-color-rojo); }
aside {
    display: flex;
    flex: 0.5;
    flex-direction: column;
    
    background-color: var(--n-color-tres);
    border-left: 1px solid var(--n-color);
}
.charla {
    flex-grow: 1;
    
    padding: 1em;
    overflow-y: scroll;
}
.charla::-webkit-scrollbar {
    display: none;
}
.message { display: flex; flex-direction: column; }
.message > b {
    display: flex;
    align-items: center;
    
    color: var(--n-color);
    text-transform: capitalize;
}
.message > b > i { font-size: 1.5rem; margin-right: 0.7rem; }
.message > span {
    color: var(--n-color);
    margin: 1rem 0;
    border-radius: 5px;
    padding: 1rem;
}
.emisor {
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: var(--n-color-dos);
    padding: 0.56rem;
}
.emisor > input {
    flex: 1;
    
    font-size: 1rem;
    height: 50px;
    border-radius: 5px;
    padding-left: 20px;
}
/*@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");*/


