/* 
    Created on : 17 ene. 2022, 1:21:51 a. m.
    Author     : neury-dev
*/
main {    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
main > section {
    display: flex;
    flex-direction: column;
    align-items: center;    
}
